@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --card_bg: 255, 255, 255;
  --card_text: 0, 0, 0;
  --card_btn: 0, 0, 0;
}

.dark {
  --card_bg: 17, 24, 39;
  --card_text: 248, 113, 113;
  --card_btn: 248, 113, 113;
}

.red {
  --card_bg: 127, 29, 29;
  --card_text: 250, 204, 21;
  --card_btn: 250, 204, 21;
}

.retro {
  --card_bg: 0, 27, 121;
  --card_text: 237, 90, 179;
  --card_btn: 22, 64, 214;
}

.earth {
  --card_bg: 58, 77, 57;
  --card_text: 236, 227, 206;
  --card_btn: 169, 179, 136;
}

.coffee {
  --card_bg: 101, 69, 31;
  --card_text: 234, 198, 150;
  --card_btn: 176, 146, 106;
}

.wedding {
  --card_bg: 103, 114, 157;
  --card_text: 254, 217, 237;
  --card_btn: 155, 190, 200;
}
