@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --card_bg: 255, 255, 255;
  --card_text: 0, 0, 0;
  --card_btn: 0, 0, 0;
}

.dark {
  --card_bg: 17, 24, 39;
  --card_text: 248, 113, 113;
  --card_btn: 248, 113, 113;
}

.red {
  --card_bg: 127, 29, 29;
  --card_text: 250, 204, 21;
  --card_btn: 250, 204, 21;
}
